.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;

	&__image {
		width: 19px;
	}

	&__name {
		margin: 0;
		font-weight: 500;
		font-size: 16px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #000;
	}
}
