.card {
	border: 1px solid red;

	&__title {
		margin: 0;
		font-weight: 500;
		font-size: 55px;
		line-height: 110%;
		letter-spacing: 0.02em;
		color: #000;
	}

	&__history {
		font-weight: 500;
		font-size: 17px;
		line-height: 140%;
		letter-spacing: 0.02em;
		color: #000;
	}

	&__container {
		display: flex;
		gap: 74px;
		justify-content: flex-start;
		align-items: center;
	}

	&__image {
		width: 536px;
		height: 729px;
	}

	&__options {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 59px;
	}

	&__price {
		font-weight: 500;
		font-size: 40px;
		line-height: 110%;
		letter-spacing: 0.02em;
		color: #998e78;
	}

	&__size-container {
		display: flex;
		gap: 34px;
		flex-direction: column;
		align-items: flex-start;
	}

	&__subtitle {
		margin: 0;
		font-weight: 500;
		font-size: 20px;
		line-height: 140%;
		letter-spacing: 0.02em;
		color: #000;
	}

	&__size-list {
		display: flex;
		gap: 14px;
	}

	&__size-item {
		font-weight: 500;
		font-size: 17px;
		line-height: 140%;
		letter-spacing: 0.02em;
		color: #000;
		border: 1px solid #000;
		width: 41px;
		height: 41px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__color-item {
		border-radius: 100px;
		width: 41px;
		height: 41px;
		background: #fdc796;
	}

	&__add-container {
		display: flex;
		gap: 11px;
		height: 68px;
	}

	&__count {
		font-weight: 400;
		font-size: 20px;
		line-height: 140%;
		letter-spacing: 0.02em;
		text-align: center;
		color: #000;
		border: 1px solid #afafaf;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 68px;
		height: 100%;
	}

	&__button {
		font-weight: 400;
		font-size: 17px;
		line-height: 139%;
		letter-spacing: 0.02em;
		text-align: center;
		color: #fff;
		padding: 22px 50px;
		width: 268px;
		height: 100%;
		background-color: #6e9c9f;
	}
}
